@model IoTSensorPortal.Models.DetailsViewModel

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Url)</dt>
        <dd>@Html.DisplayFor(model => model.Url)</dd>
        <dt>@Html.DisplayNameFor(model => model.RefreshRate)</dt>
        <dd>@Html.DisplayFor(model => model.RefreshRate)</dd>
        <dt>@Html.DisplayNameFor(model => model.MinValue)</dt>
        <dd>@Html.DisplayFor(model => model.MinValue)</dd>
        <dt>@Html.DisplayNameFor(model => model.MaxValue)</dt>
        <dd>@Html.DisplayFor(model => model.MaxValue)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsPublic)</dt>
        <dd>@Html.DisplayFor(model => model.IsPublic)</dd>
    </dl>
</div>